 @import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');
:root{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-purple-900: #482fc5;
    --text-purple1-700: #333158;
    --text-body-800: #0f0c20;
}
body.dark{
    --bg-black-900:#151515;
    --bg-black-100:#1b1a1a;
    --bg-black-50:#1a1919;
    --text-purple-900: #ffffff;
    --text-purple1-700: #fefefe;
    --text-body-800: #f3f3f3;
}
body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
::before, ::after{
    box-sizing: border-box;
}

.main-section{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px ;
    opacity: 1;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease;
}
.main-section.backSection{
    z-index: 1;
}
.main-section.active{
    z-index: 2;
    opacity: 1;
    animation: slideSection 1s ease;
}
@keyframes slideSection{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.hidden{
    display: none !important;
}
.space{
    padding-left: 18px;
    padding-right: 18px;
}
.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
.main-container .container{
    padding-top: 60px;
    padding-bottom: 70px;
}
.title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}
.title h2{
    font-size: 40px;
    color: var(--text-purple1-700);
    font-weight: 700;
    position: relative;
}
.title h2::before{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--main-color);
    position: absolute;
    top: 100%;
    left: 0;
}
.title h2::after{
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--main-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.btn{
    font-size: 16px;
    font-weight: 600;
    background: var(--main-color);
    padding: 10px 20px;
    color: var(--bg-black-900 );
    border: none;
    border-radius: 50px;
    display: inline-block;
    white-space: nowrap;
    transition: all 0.3s ease;
}
.btn:hover{
    transform: scale(1.05 )
}
.dark-shadow{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
/*sidebar*/
.sidebar{
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.3s ease;
}
.sidebar .logo{
    position: absolute;
    top: 20px;
    font-size: 16px;
    text-transform: capitalize;
}
.sidebar .logo h2{
    color: var(--text-purple-900);
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 1.5px;
    position: relative;
}
.sidebar .logo h2 span{
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
    font-style: italic;
}
/*.sidebar .logo a::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--main-color);
    border-left: 5px solid var(--main-color);
    bottom: 0;
    left: 0;
}
.sidebar .logo a::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--main-color);
    border-right: 5px solid var(--main-color);
    top: 0;
    right: 0;
}*/
ul{
    list-style: none;
}
.sidebar .nav-toggle{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.sidebar .nav-toggle span{
    height: 2px;
    width: 18px;
    background: var(--main-color);
    display: inline-block;
    position: relative;
}
.sidebar .nav-toggle.open span
{
    background-color: transparent;
}
.sidebar .nav-toggle span::before{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--main-color);
    position: absolute;
    top: -6px;
    left: 0;  
}
.sidebar .nav-toggle.open span::before
{
    transform: rotate(45deg);
    top: 0;
}
.sidebar .nav-toggle span::after{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--main-color);
    position: absolute;
    top: 6px;
    left: 0;
}
.sidebar .nav-toggle.open span::after
{
    transform: rotate(-45deg);
    top: 0;
}
.sidebar .nav{
    margin-bottom: 50px;
}
.sidebar .nav li{
    margin-bottom: 20px;
    display: block; 
}
.sidebar .nav li a{
    font-size: 18px;
    font-weight: 600;
    display: block; 
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-purple-900);
    padding: 5px 15px;
}
.sidebar .nav li a.active{
    color: var(--main-color);
}
/*.sidebar .nav li a.hover-active{
    transition: 0.5s;
}
.sidebar .nav li a.hover-active:hover{
    background: var(--main-color);
    color: #ffffff;
}*/
.sidebar .nav li a i{
    margin-right: 15px;
}
/* home*/
.home-page{
    min-height: 100vh;
    display: flex;
    color: var(--text-purple1-700);

}
.home-page .infodev{
    flex: 0 0 60%;
    max-width: 60%;
}
h3.intro{
    font-size: 28px;
    margin: 15px 0;
}
h3.intro span{
    font-family: 'clicker Script', cursive;
    color: var(--main-color);
    font-weight: 700;
    font-size: 25px;
}
h3.profession{
    font-size: 25px;
    margin: 15px 0   ;
}
.infodev p{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-purple1-7 00);
}
h3.profession span{
    color: var(--main-color);
    /*font-family: 'Clicker Script', cursive;*/
    font-weight: 700;
}
.home-page .image{
   flex: 0 0 40%;
   max-width: 40%; 
   text-align: center; 
   justify-items: center;
   position: relative; 
  
}
/*.image::after{
    content: '';
    position: absolute; 
    height: 80px;
    width: 80px;
    right: -50px;
    bottom: -10px;
    border-bottom: 10px solid var(--main-color);
    border-right: 10px solid var(--main-color);
}


.image::before{
    content: '';
    position: absolute; 
    height: 80px;
    width: 80px;
    left: -10px;
    top: -30px;
    border-top: 10px solid var(--main-color);
    border-left: 10px solid var(--main-color);
}*/


.image img{
    margin: auto;
    border-radius: 30%;
    height: 300px; 
}
/* about*/

.about .about-content{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-body-800);
}
.about .about-content .about-text h3 span{
    color: var(--main-color);
}
.about .about-content .about-text p{
    font-size: 18px;
    line-height: 25px;
    color: var(--text-body-800);
}
.about .about-content .personal-info{
   flex: 0 0 60%;
   max-width: 60%;
   margin-top: 40px; 
}
.about .about-content .personal-info .item-info{
    flex: 0 0 50%;
    max-width: 50%;
}
.about .about-content .personal-info .item-info p{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-body-800);
    border-bottom: 1px solid var(--bg-black-50);

}
.about .about-content .personal-info .item-info p span{
    font-weight: 400;
    color:  var(--text-purple1-700);
    margin-left: 4px;
    display: inline-block;
}
.about .about-content .personal-info .buttons{
    margin-top: 30px;
}
.about .about-content .personal-info .buttons .btn{
    margin-top: 10px;
}
.about .about-content .skill-info{
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}
.about .about-content .skill-info .skill-item{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .skill-info .skill-item h5{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-body-800);
    text-transform: capitalize;
}
.about .about-content .skill-info .skill-item .progress{
      background-color: var(--bg-black-50);
      border-radius: 4px;
      width: 100%;
      height: 6px;
      position: relative;
}
.about .about-content .skill-info .skill-item{
    margin-bottom: 20px;
}
.about .about-content .skill-info .skill-item .progress .progress-in{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--main-color);
}
.about .about-content .skill-info .skill-item .skill-percent{
    position: absolute;
    right: 0;
    color: var(--text-body-800);
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}
.about .about-content .education,
.about .about-content .experience
{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}
.about .about-content h3.title-edu{
    font-size: 24px;
    color: var(--text-body-800);
    margin-bottom: 30px;
    font-weight: 700;
}
.about .about-content .timeline-box{
   flex: 0 0 100%;
   max-width: 100%; 
}
.about .about-content .timeline{
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}
.about .about-content .timeline .edu-item{
    position: relative;
    padding: 37px;
    padding-bottom: 20px;
}
.about .about-content .timeline .edu-item:last-child{
    padding-right: 0;
}
.about .about-content .timeline .edu-item::before{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background: var(--main-color);
}
.about .about-content .timeline .dotted-circle
{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--main-color);
}
.about .about-content .timeline .edu-date{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 13px;
    color: var(--text-purple1-700);
}
.about .about-content .timeline .edu-date .fa{
    margin-right: 5px
}
.about .about-content .timeline .edu-title{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 16px;
    text-transform: capitalize;
    color: var(--text-purple1-700);
}
.about .about-content .timeline .text-descript{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-body-800);
}
/* portfolio */
.portfolio .container{
    padding-bottom: 40px;
}

.portfolio .portfolio-heading{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
} 
.portfolio .portfolio-heading h2{
     color: var(--text-body-800);
     font-size: 500;
}
.portfolio .portfolio-item{
    flex: 0 0 30%;
    max-width: 30%;
    margin-bottom: 30px;
    overflow: hidden;
}
.portfolio .portfolio-item-in{
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.portfolio-img img{
    width: 100%;
    
}
/* Service */
.service .container
{
    padding-bottom: 40px;
}
.service .service-item
{
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;

}
.service .service-item .service-item-inner
{
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner:hover
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.service .service-item .service-item-inner .icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
  
}
.service .service-item .service-item-inner .icon .fa{
    font-size: 40px;
    line-height: 60px;
    color: var(--main-color);
}
.service .service-item .service-item-inner:hover .icon{
    background: var(--main-color);
}
.service .service-item .service-item-inner:hover .icon .fa
{
    font-size: 25px;
    color: #ffffff;
}
.service .service-item .service-item-inner h4
{
    font-size: 20px;
    margin-bottom: 14px;
    font-weight: 700;
    text-transform: capitalize;
}
.service .service-item .service-item-inner p
{
    font-size: 16px;
    color: var(--text-body-800);
    line-height: 25px;
}
/*contact*/
.contact-main{
    color:var(--text-purple-900);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.contact-sub-main{
    color:var(--main-color);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}
.contact .contact-info{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    margin-bottom: 60px;
}
.contact .contact-info .icons{
   display: inline-block; 
}
.contact .contact-info .icons .fa{
    font-size: 30px;
    color: var(--main-color);
}
.contact .contact-info h4{
    font-size: 20px;
    font-weight: 700;
    color: var(--text-body-800);
    text-transform: capitalize;
    margin: 15px 0 5px;
}
.contact .contact-info p{
    font-size: 18px;
    line-height: 30px;
    color: var(--text-body-800);
    font-weight: 400;
}
.contact .contact-form{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .column{
    flex: 0 0 50%;
    max-width: 50%;
}
.contact .contact-form .column-1{
    flex: 0 0 100%;
    max-width: 100%;
   
}
.contact .contact-form .form-item{
    margin-bottom: 30px;
}
.contact .contact-form .form-item .form-control{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-purple1-700);
    transition: all 0.3s ease;
}
.contact .contact-form .form-item .form-control:focus{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.contact .contact-form .form-item textarea.form-control{
    height: 200px;
}
.contact .contact-form .btn{
    height: 50px;
    padding: 0 50px;
}
@media(max-width:1199px){
    .sidebar
    {
      left: -270px;  
    }
    .sidebar.open{
        left: 0;
    }
    .sidebar .nav-toggle{
        display: flex;
        left: 30px;
    }
    .sidebar .nav-toggle.open
    {
        left: 300px;
    }
    .main-section{
        left: 0;
    }
    .main-section.open{
        left: 270px;
    }
    .about .about-content .personal-info .item-info p span
    {
        display: block;
        margin-left: 0;
    }
    .service .service-item
{
    margin-bottom: 30px;
    flex: 0 0 100%;
    max-width: 100%;

}
.btn{
    font-size: 12px;
    font-weight: 400;
    background: var(--main-color);
    padding: 8px 18px;
    color: var(--bg-black-900 );
    border: none;
    border-radius: 50px;
    display: inline-block;
    white-space: nowrap;
    transition: all 0.3s ease;
    margin-top: 0;
}
.infodev p{
    margin-bottom: 20px;
}
.hidden{
    display: block;
}
}
@media(max-width:900px){
    .contact.contact-info,
    .portfolio .portfolio-item{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .home-page .infodev
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .image::after{
        display: none;
    }
    .image::before{
        display: none;
    }

    
    .home-page .image img{
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid var(--main-color);
        position: relative;
        top: -250px;   
    }
    .infodev{
        position: absolute;
        top: -20px;
    }
    
    
    .btn{
        font-size: 12px;
        font-weight: 400;
        background: var(--main-color);
        padding: 8px 18px;
        color: var(--bg-black-900 );
        border: none;
        border-radius: 50px;
        display: inline-block;
        white-space: nowrap;
        transition: all 0.3s ease;
        margin-top: 0;
    }
    .infodev p{
        margin-bottom: 20px;
    }
    .hidden{
        display: block;
    }

}
@media(max-width:700px){
    .contact .contact-form .column,
    .contact .contact-info,
    .portfolio .portfolio-item,
    .about .about-content .experience,
    .about .about-content .education,
    .about .about-content .skill-info,
    .about .about-content .personal-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .btn{
        font-size: 12px;
        font-weight: 400;
        background: var(--main-color);
        padding: 8px 18px;
        color: var(--bg-black-900 );
        border: none;
        border-radius: 50px;
        display: inline-block;
        white-space: nowrap;
        transition: all 0.3s ease;
        margin-top: 0;
    }
    .infodev p{
        margin-bottom: 20px;
    }
    .hidden{
        display: block;
    }
}

